# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# Allow Makefiles
!Makefile

# Allow containing own .gitignore
!.gitignore

# Allow maps
!maps/*

# Allow map tests
!map_tests/*

# Allow textures and their other info
!textures/**

# Allow PDF with instructions
!so_long.pdf

# Debug settings
!*.json
