[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/MyNameIsTrez/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/MyNameIsTrez/get_next_line
[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42
[submodule "libft"]
	path = libft
	url = https://github.com/MyNameIsTrez/libft
