# Ignore everything
*

# Allow folders
!*/


# TODO: REMOVE BEFORE EVAL!

# Allow containing own .gitignore
!.gitignore

# Allow map tests
!map_tests/*

# Allow PDF with instructions
!so_long.pdf

# Debug settings
!*.json



# Allow .c and .h files
!*.[ch]

# Allow Makefiles
!Makefile

# Allow maps
!maps/*

# Allow textures and their other info
!texturepacks/**/*.png
!texturepacks/**/*.txt

**/.DS_Store
